.img-placeholder{
    height: 200px;
    width: 450px;
    background-color: rgb(187, 184, 181);
}




.header, .footer, .sec1, .sec2, .sec3, .sec4{
    border: 1px solid black;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}


/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 0 250px;
}

.header h1{
    padding-left: 20px;
}

.header li{
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    
}

.header ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding-right: 20px;
}

.header a{
    text-decoration: none;
    color: white;
}

.link-container{
    display: flex;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}


/* sec 1 */

.sec1{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #1f2937;
    padding: 100px 300px 100px;
}

/* .center-container{
    display: flex;
    
    border: 1px solid black;
} */

.title h1{
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.title p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

.btn-sign-up{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    height: 30px;
    width: 100px;
    text-align: center;
}


/* sec 2 */

.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2 h1{
    font-family: 'Raleway', sans-serif;
}

.container{
    display: flex;
    gap: 45px;
}

.box-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 80px;

}

.box-container .text{
    width: 150px;
    text-align: center;
}

.box{
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}


/* sec 3 */

.sec3{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}


.quote{
    color: #1f2937;
    font-size: 26px;
    font-style: italic;
}


/* sec 4 */
.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.sign-up-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    font-family: roboto, sans-serif;
    width: 1000px;
    padding: 0 30px;
}

.btn-sign-up{
    border: 1px solid white;
}

.sign-up-container p{
    font-size: 15px;
}


/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 80px;
}